.task {
    padding-top: 40px;
}
.algoritm {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    gap: 20px;
}
h1 {
    text-align: center;

}
.arrow {
    align-self: center;
    margin-bottom: 70px;
}
p {
    padding-left: 25px;
}
.mailcheck p {
    padding-left: 5px;
}